@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif !important;
  color: #1f1f1f;
}

.sora-font {
  font-family: "Sora", sans-serif;
}


/* styles.css */
.ant-input:focus,
.ant-input:hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper-focused {
  border-color: #3b82f6 !important; /* Cambia este color al que desees */
  box-shadow: 0 0 0 2px rgba(46, 124, 248, 0.2) !important; /* Ajusta el color del anillo de foco */
}

.ant-input-affix-wrapper .ant-input:focus,
.ant-input-affix-wrapper .ant-input:hover {
  border-color: transparent !important;
  box-shadow: none !important;
}




label {
  font-weight: 600;
}

/* BAR */
::-webkit-scrollbar {
  width: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/
  -webkit-border-radius: 10px;
  background-color: #f4f4f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d3d3d3;
}

/*Date Picker*/
.ant-picker {
  padding: 12px 16px;
}

.date-picker-compra {
  padding: 10px 14px !important;
  height: fit-content !important;
}

/* (*) icono de requerido */
.ant-form-item-required::before {
  display: none !important;
}

/* Button*/
.ant-btn {
  padding: 10px 14px !important;
  height: fit-content !important;
}

.ant-btn-sm {
  padding: 4px 8px !important;
  border-radius: 12px !important;
}

.skeleton-image {
  max-width: 220px !important;
  width: 100% !important;
  height: 220px !important;
}

.ant-skeleton-image {
  border-radius: 12px !important;
}

/* SELECT*/
.ant-select-arrow {
  height: 14px !important;
}

.ant-select {
  height: 50px !important;
}

.ant-select-selector {
  padding: 8px 16px !important;
  height: fit-content !important;
  display: flex !important;
  justify-content: center !important;
}

.delete-button-select-opcion {
  padding: 0 !important;
  border: none;
}

/*SKELETON*/
.skeleton-input-vx {
  width: 100% !important;
}

/* DRAWLER MENU RESPONSIVE*/
:where(
    .css-dev-only-do-not-override-163mf6y
  ).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-163mf6y).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-163mf6y
  ).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-163mf6y).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

.ant-drawer-body {
  padding: 0 !important;
}

/* SIDEBAR */
.title_menu_item {
  font-weight: 500;
}

.ant-layout-sider-children {
  height: 100%;
  overflow: auto;
}

.contenedor_icon_menu_item {
  background: #e7ffec;
  padding: 8px;
  border-radius: 8px;
  margin-left: -16px;
}

.tamaño_icon_menu_item {
  width: 20px;
  height: 20px;
}

.color_icon_menu_item {
  color: #14a800;
}

.ant-menu {
  border-inline-end: none !important;
}

/*MODAL*/
.ant-modal {
  padding-left: 16px;
  padding-right: 12px;
}

.ant-modal-wrap {
  padding-top: 24px;
  padding-bottom: 24px;
}
.ant-modal-title {
  font-size: 20px !important;
}

@media screen and (max-width: 370px) {
  .cancel-button-modal {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .buttons-options-flex {
    margin-top: 0px !important;
    width: 100% !important;
    justify-content: end !important;
  }
}

@media screen and (max-width: 836px) {
  .container-button-items-tienda {
    width: 100% !important;
  }
}

@media screen and (max-width: 964px) {
  .button-search-acceso-premium {
    margin-top: 0px !important;
    width: 100%;
  }
}

/* SLIDER CLIENTE */
[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #14a800;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 376px) {
  .titulo {
    font-size: 30px !important; /* Tamaño de fuente para dispositivos móviles de 340px */
  }
}

@media screen and (max-width: 310px) {
  .titulo {
    font-size: 26px !important; /* Tamaño de fuente para dispositivos móviles de 340px */
  }
}

.break-word-css {
  overflow-wrap: break-word;
  width: 100%;
  max-width: 280px;
}

@media screen and (max-width: 390px) {
  .break-word-css {
    overflow-wrap: break-word;
    width: 100%;
    max-width: 200px;
  }
}

.break-word-css-name-shop {
  overflow-wrap: break-word;
  width: 100%;
  max-width: 180px;
}

.modal-ads .ant-modal-content {
  padding: 10px 12px !important;
}

@media screen and (max-width: 909px) {
  .container-button-merma {
    width: 100% !important;
  }
}
@media screen and (max-width: 804px) {
  .container-button-retiro {
    width: 100% !important;
  }
}

.float-button-personalize {
  bottom: 20px;
  right: 35px;
}

@media screen and (max-width: 318px) {
  .float-button-personalize {
    bottom: 20px;
    right: 10px;
  }
}

@media screen and (max-width: 512px) {
  .buttons-group-col-responsive {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 633px) {
  .button-add-client-pos {
    margin-top: 0px !important;
  }

  .button-add-client-pos-container {
    display: flex;
    width: 100%;
    justify-content: end;
  }
}
@media screen and (max-width: 469px) {
  .button-add-product-pos-container button {
    margin-top: 0px !important;
  }

  .button-add-product-pos-container {
    display: flex;
    width: 100%;
    justify-content: end;
  }

  .container-input-ingreso-manual {
    max-width: 100% !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 658px) {
  .div-button-buscar-product {
    width: 100%;
    margin-top: 0px !important;
  }
}


@media screen and (max-width: 496px) {
  .button-add-product-gestionar-container {
    width: 100%;
    margin-top: 0px !important;
    display: flex;
    justify-content: end;
  }

  .button-add-product-gestionar-container button {
    margin-top: 0 !important;
  }
}



.label_monto_payment_efectivo label{
  font-size: 18px !important;
}



.ant-table-pagination {
  align-items: center;
}
